/vendor/
/node_modules/
/.vagrant

/api/vendor/
/api/node_modules/
/api/npm-debug.log
/api/yarn-error.log

# Laravel 4 specific
/api/bootstrap/compiled.php
/api/app/storage/

# Laravel 5 & Lumen specific
/api/public/storage
/api/public/hot

# Laravel 5 & Lumen specific with changed public path
/api/public_html/storage
/api/public_html/hot

/api/storage/*.key
/api/.env
/api/Homestead.yaml
/api/Homestead.json
/api/.phpunit.result.cache